<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Etudiants</title>
</head>

<body>
	<div th:replace="template"></div>

	<div class="container mt-5">
		<div class="card">
			<div class="card-header">
				Liste des Etudiants
			</div>
			<div class="card-body">

				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Etudiant</th>
						<th>Prenom Etudiant </th>
						<th>Moyenne</th>
						<th>Date d'inscription</th>
						<th>Institut</th>

					</tr>
					<tr th:each="p:${etudiants.content}">
						<td th:text="${p.idEtudiant}"></td>
						<td th:text="${p.nomEtudiant}"></td>
						<td th:text="${p.prenomEtudiant}"></td>
						<td th:text="${p.moyEtudiant}"></td>
						<td th:text="${p.dateInscription}"></td>
						<td th:if= "${!#strings.isEmpty(p.institut)}" th:text="${p.institut.nomInstitut}"></td>
						<td th:if= "${#strings.isEmpty(p.institut)}" th:text="${'Pas dinstitut'}"></td>
						<td sec:authorize="hasAuthority('ADMIN')" ><a class="btn btn-danger"
						onclick="return confirm('Etes-vous sûr ?')"
						th:href="@{supprimerEtudiant(id=${p.idEtudiant},
						page=${currentPage},size=${size})}">Supprimer</a>
						</td>
						<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"
						th:href="@{modifierEtudiant(id=${p.idEtudiant})}">Editer</a></td>

					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ listeEtudiants(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>